doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
    body 
        header
            h1 Noom
        main
            h2 Welcome to Noom
            div#nickname
                h3 
                form
                    input(placeholder="Choose/Change your nickname" required)
                    button Done
            h3 Open rooms
            ul#roomList
            div#enterRoom
                form
                    input(placeholder="Enter a room" required type="text")
                    button Enter
            div#room
                h3
                span#userCount 
                ul#messageList
                form
                    input(placeholder="Send a message" required type="text")
                    button Send
                button#leave Leave the room
        script(src="/socket.io/socket.io.js")
        script(src="js/app.js")